<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.grandi.lorenzo.gymtracker">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GymTracker">
        <activity android:name=".scanner.ScannerActivity" android:theme="@style/Theme.GymTracker.task"/>
        <activity android:name=".taskactivity.TaskActivityHandler" android:theme="@style/Theme.GymTracker.task"/>
        <activity android:name=".home.HomeHandler" android:theme="@style/Theme.GymTracker.home"/>
        <activity android:name=".login.LoginHandler"/>
        <activity android:name=".main.MainActivity" android:theme="@style/Theme.GymTracker.home">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>